* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    max-width: 1440px;
    margin: 0 auto;
    line-height: 1.6em;
    background-color: #eeeeec;
}

/* Header */

header {
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f2f66a;
}

.logo {
    max-width: 100px;
    height: 100px;
}

/* header navigation */
.nav_top {
    display: flex;
    align-items: end;
    width: 65%;
    justify-content: space-between;
}
.nav_link{
    color: black;
    text-decoration: none;
}
.nav_link:hover {
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

/* button call me */
.callMeBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.callMe {
    border-radius: 30px;
    border: none;
    width: 220px;
    height: 60px;
    background-color: #63b820;
    font-size: larger;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.callMe:hover {
    background-color: #74df23;
}

/*all section rules */ 

.section_block {
    max-width: 1440px;
    padding: 1%;
}

/*section with advantages */

.advanteges {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;    
}

h1 {
    padding: 1%;
}
.name_block {
    margin: 20px 2%;
}

.slider {
    max-width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

/* место положение кнопок переключения слайда внизу (4px) по центру */
.slider_nav {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
/* Внешний вид кнопок слайда */
.slide_bar {
    height: 12px;
    width: 23px;
    margin: 6px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    border: rgb(0, 0, 0) solid;
}
#r1:checked ~ .slider_nav label:nth-child(1){
    background-color: rgba(250, 197, 154, 0.7);
}
#r2:checked ~ .slider_nav label:nth-child(2){
    background-color: rgba(250, 197, 154, 0.7);
}
#r3:checked ~ .slider_nav label:nth-child(3){
    background-color: rgba(250, 197, 154, 0.7);
}
.slide_bar:hover {
    opacity: 1;
    transform: scale(1.1);
}
input[name="slide_radio"] {
    position: absolute;
    visibility: hidden;
}
/* слайды делаем ширину в три раза больше, чтоб два других слайда спраятать за границами блока slider_photo */
.slides {
    width: 300%;
    height: 100%;
    display: flex;
}
.slide {
    max-width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: right; */
    transition: all .5s ease;
}
/* работа слайдера изменяем маржин (смещаем на 1/3) при нажатии кнопки (input radio checked) */
#r1:checked ~ .slides .s1  {
    margin-left: 0;
}
#r2:checked ~ .slides .s1 {
    margin-left: -33.33333%;
}
#r3:checked ~ .slides .s1 {
    margin-left: -66.666667%;
}
/* block with features*/
.features {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFFD5;
    height: fit-content;  
}
.text_info {
    text-align: left;
    margin: 5%;
}

/* Catalog product */

.catalog {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.block_catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0.5%;
}
.block_product {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    transition: all .4s;
}
.product_image {
    margin: 1%;
    width: 300px;
}
.product_image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_name {
    padding: 5% 1%;
    text-align: center;
}
.filter {
    margin: 2% 4%;
    display: flex;
    justify-content: space-around;
}
input[name="product"] {
    display: none;
}
.filter > label {
    margin: 0 1%;
    width: 25%;
    background: #dfe09cf6;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
input[id="allProd"]:checked ~ .filter > label:nth-of-type(1) {
    background: #a4a565;
}
input[id="giros"]:checked ~ .filter > label:nth-of-type(2) {
    background: #a4a565;
}
input[name="product"][id="giros"]:checked ~ .block_catalog >.sig, input[type="radio"][id="giros"]:checked ~ .block_catalog > .samokats {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}
input[id="sigvei"]:checked ~ .filter > label:nth-of-type(3) {
    background: #a4a565;
}
input[id="sigvei"]:checked ~ .block_catalog > .giro, input[id="sigvei"]:checked ~ .block_catalog > .samokats {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}
input[id="samokat"]:checked ~ .filter > label:nth-of-type(4) {
    background: #a4a565;
}
input[id="samokat"]:checked ~ .block_catalog > .giro, input[id="samokat"]:checked ~ .block_catalog > .sig {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}
/* Block our_team */
.our_team {
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FBFFD5;   
}
.container_worker {
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.worker {
    max-width: 450px;
    margin: 1%;    
}
.name_consultant {
    margin: 5px;
    font-size: 24px;
}
.worker > img {
    margin: 1%;
    width: 100%;
    max-height: 400px;
}

/* our partners block */
.brands {
    text-align: center;
}
.brands_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.brands_image > img {
    margin: 2%;
    max-width: 250px;
    height: 100%;
}

/* advanced info blog */

.advance_info {
    text-align: center;
    background-color: #FBFFD5;
}
.advance_info > img {
    margin: 3%;
    float: left;
    max-width: 400px;
    height: 100%;
}

/*comments block*/

.comments {
    text-align: center;
}
.container_comments {
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.comm_message {
    margin: 2%;
    padding: 0.5rem;
    max-width: 400px;
    min-height: 300px;
    background: #FBFFD5;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.comm_message > p {
    font-size: 24px;
    margin: 1.5rem;
}

/*footer*/
footer {
    margin: 1%;
    padding: 1% 0%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #A5A5A5;
}
/* Form subscribe */
.subscribe > form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.form-subscribe > input {
    height: 2.2rem;
    width: 220px;
}
#name, #email {
    font-size: 20px;
    border: none;
    border-radius: 7px;
    background-color: rgba(228, 241, 241, 0.932);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
/*button subscribe */
#subscribe {
    border: none;
    border-radius: 7px;
    font-size: 22px;
    background-color: rgba(238, 105, 105, 0.705);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#subscribe:hover {
    transform: scale(1.03);
    background-color: rgb(238, 105, 105)
}
#subscribe:active {
    transform: scale(0.95);
    background-color: rgb(230, 76, 76);
}
/*button move top*/
#swipe_top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: fixed;
    left: 7px;
    bottom:7px;
    opacity: 0.7;
    
}
#swipe_top:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 1300px) {
    .slider {
        max-width: 900px;
        height: 450px;
    }
}